




<html>
<head><title>practice threejs </title>
<link rel="stylesheet" href="css/bootstrap.css">
 <script src="js/jquery.js"></script>
	<script src="js/three.js"></script>
	<script src="js/Projector.js"></script>
 
	<script src='js/CanvasRenderer.js'></script>
	<script src="js/TrackballControls.js"></script>
	<script src='js/OrbitControls.js'></script>
	<!-- // <script src='https://code.createjs.com/tweenjs-0.6.2.min.js'></script> -->
<script src="js/tween.js"></script>
<!-- <script src='js/createjs/tweenjs-0.6.2.combined.js'></script>
<script src='js/createjs/Tween.js'></script> -->
 	<!-- // <script src="js/ImageUtils.js"></script> -->
 		 <script src="js/libs/stats.min.js"></script>
		<!-- function insert -->

		<script>
			

		</script>		
	
 
</head>
 
	<body>
		<div id='yourCube' style='background-color:#f2f2f2; border:0px solid; width:100%; height:10%;'>

				 <table style='display:inline-block; float:left;'><tr>
			       			<td>
			       				asdfasfd
			       			Theme:
			       			</td>
			       			<td style='padding:10px;'>
			       				<select id='cubeTheme'>
								  <option value="solid">Solid</option>
								  <option value="transparent">Transparent</option>
								  
								</select>
			       			</td>
		       			</tr> 
		       			
			 	</table>
			 	 <table style='display:inline-block; float:left;'><tr>
			       			<td>
			       			Letters:
			       			</td>
			       			<td style='padding:10px;'>
			       				<select id='selectLetters'>
								  <option value="corner">Corner</option>
								  <option value="edge">Edge</option>
								  <option value="default" selected>Default</option>
								  
								</select>
			       			</td>
		       			</tr> 
		       			
			 	</table>
			 		 <table style='display:inline-block; float:left;'><tr>
			       			<td>
			       			Tiles;
			       			</td>
			       			<td style='padding:10px;'>
			       				<select id='selectTiles'>
								  <option value="corner">Corner</option>
								  <option value="edge">Edge</option>
								  <option value="center">Center</option>
								  
								  <option value="default" selected>Default</option>
								  
								</select>
			       			</td>
		       			</tr> 
		       			
			 	</table>
			 	<button style='display:inline-block; float:left; margin:10px;' id='resetCam' > Reset Camera</button>
			 	
			 	<div style='display:inlibe-bloack; float:left; padding-left:10px; border-left:1px solid;'>
			 		Scramble: <h4 id='hScramble' style='margin:0px; display:inline-block;'> </h4>
			 		<button id='btnStart' style='margin-bottom:10px; margin-left:20px;'>start </button><br>
			 	</div>
			 	<div id='divSolution' style='display:inlibe-bloack; float:left; padding-left:10px; border-left:1px solid;'>
			 		Solution: <h4 id='hSolution' style='margin:0px; display:inline-block;'>
			 		<!-- J G O B H D K parity / R N X C C Q M V D P F -->
			 	</h4> 
			 		<button id='btnBack' style='margin-left:20px; '>Back</button> <button id='btnNext'>Next</button>
			 	</div>
			 

		</div>
		<script>
			var scrambleAlgo = "U2 B' F' U2 R2 D2 L2 F D2 B2 L2 U' B' R B U' R2 D' B' D U'";
			var sequenceAlgo = [];
			var sequenceInc = 0;
			var algIndex = 0;
			var curAlgIndex = -1;

	jQuery(function(){
				

				$('#hScramble').html(scrambleAlgo);
				
				allMovesP1 = "y z'";
				execPerm(allMovesP1);
				init('1');


				execCornerBufferAlg(scrambleAlgo);
				$('#hSolution').html( $('#hSolution').html() + " / ")
				execEdgeBufferAlg("");

				$('#btnStart').click(function(){
						matrixInit();
						allMovesP1 = "y z' " + scrambleAlgo;
						init('1');
							
				});
				$('#btnNext').click(function(){
						if (sequenceAlgo[curAlgIndex+1] !=undefined){
								curAlgIndex++;
						}
						matrixInit();
						allMovesP1 = "y z' " + scrambleAlgo + " " + sequenceAlgo[curAlgIndex];
						// cornerAssign();

						if (sequenceAlgo[curAlgIndex].charAt(0) == '.'){
							edgeAssign();
						}else{
							cornerAssign();
						}
						init('1');

						
				});
				$('#btnBack').click(function(){
						if (sequenceAlgo[curAlgIndex-1] !=undefined){
								curAlgIndex--;
						}
						matrixInit();
						allMovesP1 = "y z' " + scrambleAlgo + " " + sequenceAlgo[curAlgIndex];
						if (sequenceAlgo[curAlgIndex].charAt(0) == '.'){
							edgeAssign();
						}else{
							cornerAssign();
						}
						init('1');

						
						
				})
				
					

						// allMovesP1 +=" F2 L2 U' F2 L2 U' L2 U2 L2 R D2 F' L2 U2 F2 L2 U' B D U2 ";
					// execPerm(allMovesP1);

							label = document.getElementById('yourCube');        // Create a <button> element

								label.style.position = 'absolute';
								label.style.top =0;
								// label.style.left = '280px';     

							container.appendChild(label); 

							// renderer.setSize( window.innerWidth, window.innerHeight );
							// init('0');	


							// execPerm(allMovesP1);
							// init('1');
							animation();


							// renderer.setClearColor( 0x000000, 1);
			  		// 		material.transparent =true;
			  		// 		renderer.render(scene,camera);

				$( "#cubeTheme" ).change(function() {
				 		if ($('#cubeTheme').val() == 'solid'){

												renderer.setClearColor( 0xbdbdbd, 1);
								  				material.transparent = false;
								  				renderer.render(scene,camera);

						}else if ($('#cubeTheme').val() == 'transparent'){

							renderer.setClearColor( 0x000000, 1);
			  				material.transparent =true;
			  				renderer.render(scene,camera);

			  				
						}
				 	
				});
				$( "#selectLetters" ).change(function() {
				 		if ($(this).val() == 'corner'){
							// alert('corner');
								cornerAssign();

						}else if ( $(this).val() == 'edge'){

							// alert('edge');
								edgeAssign();

			  				
						}else if ( $(this).val() == 'default'){
							init('1');
						}
				 	
				});
				$( "#selectTiles" ).change(function() {
				 		if ($(this).val() == 'corner'){
								
								

								init('1');
								for (var x =0;x<=5;x++){
									tiles[x][1].position.y=999999;
									tiles[x][3].position.y=999999;
									tiles[x][4].position.y=999999;
									tiles[x][5].position.y=999999;
									tiles[x][7].position.y=999999;
								}

						}else if ( $(this).val() == 'edge'){
								init('1');
								for (var x =0;x<=5;x++){
										tiles[x][0].position.y=999999;
										tiles[x][2].position.y=999999;
										tiles[x][4].position.y=999999;
										tiles[x][6].position.y=999999;
										tiles[x][8].position.y=999999;
												
								}

			  				
						}
						else if ( $(this).val() == 'center'){

								init('1');
									for (var x =0;x<=5;x++){
											tiles[x][0].position.y=999999;
											tiles[x][2].position.y=999999;
											// tiles[x][4].position.y=999999;
											tiles[x][6].position.y=999999;
											tiles[x][8].position.y=999999;
													
									}
									for (var x =0;x<=5;x++){
									tiles[x][1].position.y=999999;
									tiles[x][3].position.y=999999;
									// tiles[x][4].position.y=999999;
									tiles[x][5].position.y=999999;
									tiles[x][7].position.y=999999;
									}

						}

						else if ( $(this).val() == 'default'){
							init('1');
						}
				 	
				});
				$('#resetCam').click(function(){
					// camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 0.1, 1000 );
					initCam();
	
				});

			


				// var to = new THREE.Vector3(posMatrix.x,posMatrix.y,posMatrix.z);
				// var direction = to.clone().sub(from);
				// var length = direction.length();
				// var arrowHelper = new THREE.ArrowHelper(direction.normalize(), from, length, 0xB40486,1,1 );

				// // arrowHelper.line.material.linewidth = 100;
				// scene.add( arrowHelper );



							// renderer.render(scene,camera);
				
				
							
				// cornerAssign();
				// alert('testing');
				


				function cornerAssign(){

						init('1');	

						var theText = "Buffer";
				var loader = new THREE.FontLoader();
				var textGeo,txt;
				loader.load( 'fonts/helvetiker_regular.typeface.json', function ( font ) {
					// textGeo = new THREE.TextGeometry( theText, {font: font, size: 0, height:.0 });

					var textMat = new THREE.MultiMaterial( [
					new THREE.MeshBasicMaterial( { color:  0xf2f2f2, overdraw: 0.5 } ),
					new THREE.MeshBasicMaterial( { color: 0xB40486, overdraw: 0.5 } )
					] );

					var cornerStyle = new THREE.MultiMaterial( [
					new THREE.MeshBasicMaterial( { color:  0x000000, overdraw: 0.5 } ),
					new THREE.MeshBasicMaterial( { color: 0xf2f2f2, overdraw: 0.5 } )
					] );

					buffer= new THREE.Mesh( new THREE.TextGeometry( theText, {font: font, size: .4, height:.3}), textMat );
					
					
					scene.add(buffer);

					var bufferPos = new THREE.Vector3();
					bufferPos.applyMatrix4( tiles[0][0].matrixWorld );
					buffer.position.set(bufferPos.x-.6,bufferPos.y+.1,bufferPos.z);
					buffer.rotation.x = degree*-90;


					cornerLetters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X'];
					var cornerGraph = [];
					
									
								//set array corner			
					// cornerX = 0; cornerY=0; cornerInc = 0;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*-90,0,0); cornerGraph[cornerInc].position.y=3.3;  scene.add(cornerGraph[cornerInc]);
					cornerX = 0; cornerY=2; cornerInc = 1;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*-90,0,0); cornerGraph[cornerInc].position.y=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 0; cornerY=8; cornerInc = 2;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*-90,0,0); cornerGraph[cornerInc].position.y=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 0; cornerY=6; cornerInc = 3;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*-90,0,0); cornerGraph[cornerInc].position.y=3.3; scene.add(cornerGraph[cornerInc]);
					
					// cornerX = 1; cornerY=0; cornerInc = 4;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*-90,0);  scene.add(cornerGraph[cornerInc]);
					cornerX = 1; cornerY=2; cornerInc = 5;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*-90,0); cornerGraph[cornerInc].position.x=-3.3;  scene.add(cornerGraph[cornerInc]);
					cornerX = 1; cornerY=8; cornerInc = 6;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*-90,0); cornerGraph[cornerInc].position.x=-3.3;  scene.add(cornerGraph[cornerInc]);
					cornerX = 1; cornerY=6; cornerInc = 7;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*-90,0); cornerGraph[cornerInc].position.x=-3.3;  scene.add(cornerGraph[cornerInc]);
						
					cornerX = 2; cornerY=0; cornerInc = 8;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,0,degree); cornerGraph[cornerInc].position.z=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 2; cornerY=2; cornerInc = 9;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,0,degree); cornerGraph[cornerInc].position.z=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 2; cornerY=8; cornerInc = 10;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,0,degree); cornerGraph[cornerInc].position.z=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 2; cornerY=6; cornerInc = 11;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,0,degree); cornerGraph[cornerInc].position.z=3.3; scene.add(cornerGraph[cornerInc]);
								
					cornerX = 3; cornerY=2; cornerInc = 12;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*90,0); cornerGraph[cornerInc].position.x=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 3; cornerY=0; cornerInc = 13;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*90,0); cornerGraph[cornerInc].position.x=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 3; cornerY=6; cornerInc = 14;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*90,0); cornerGraph[cornerInc].position.x=3.3; scene.add(cornerGraph[cornerInc]);
					cornerX = 3; cornerY=8; cornerInc = 15;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree*90,0); cornerGraph[cornerInc].position.x=3.3; scene.add(cornerGraph[cornerInc]);
					
					cornerX = 4; cornerY=0; cornerInc = 16;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree *180,0); cornerGraph[cornerInc].position.z=-3.5; scene.add(cornerGraph[cornerInc]);
					// cornerX = 4; cornerY=2; cornerInc = 17;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree *180,0); cornerGraph[cornerInc].position.z=-3.5;   scene.add(cornerGraph[cornerInc]);
					cornerX = 4; cornerY=8; cornerInc = 18;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree *180,0); cornerGraph[cornerInc].position.z=-3.5;  scene.add(cornerGraph[cornerInc]);
					cornerX = 4; cornerY=6; cornerInc = 19;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(0,degree *180,0); cornerGraph[cornerInc].position.z=-3.5;  scene.add(cornerGraph[cornerInc]);
					
					cornerX = 5; cornerY=0; cornerInc = 20;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*90,0,0); cornerGraph[cornerInc].position.y=-3.5; scene.add(cornerGraph[cornerInc]);
					cornerX = 5; cornerY=2; cornerInc = 21;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*90,0,0); cornerGraph[cornerInc].position.y=-3.5; scene.add(cornerGraph[cornerInc]);
					cornerX = 5; cornerY=8; cornerInc = 22;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*90,0,0); cornerGraph[cornerInc].position.y=-3.5;  scene.add(cornerGraph[cornerInc]);
					cornerX = 5; cornerY=6; cornerInc = 23;  cornerGraph[cornerInc] = new THREE.Mesh( new THREE.TextGeometry( cornerLetters[cornerInc], {font: font, size: .7, height:.1 }), cornerStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[cornerX][cornerY].matrixWorld ); cornerGraph[cornerInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); cornerGraph[cornerInc].rotation.set(degree*90,0,0); cornerGraph[cornerInc].position.y=-3.5;  scene.add(cornerGraph[cornerInc]);
						

						//cover corner
					// scene.remove(tiles[0][0]);


					for (var x =0;x<=5;x++){
									tiles[x][1].position.y=999999;
									tiles[x][3].position.y=999999;
									// tiles[x][4].position.y=999999;
									tiles[x][5].position.y=999999;
									tiles[x][7].position.y=999999;
								}
					

				
					
						
					
								
					} );
				}

				function edgeAssign(){



						init('1');	

						var theText = "Buffer";
				var loader = new THREE.FontLoader();
				var textGeo,txt;
				loader.load( 'fonts/helvetiker_regular.typeface.json', function ( font ) {
					textGeo = new THREE.TextGeometry( theText, {font: font, size: .5, height:.5 });

					var textMat = new THREE.MultiMaterial( [
					new THREE.MeshBasicMaterial( { color:  0xf2f2f2, overdraw: 0.5 } ),
					new THREE.MeshBasicMaterial( { color: 0xB40486, overdraw: 0.5 } )
					] );

					var edgeStyle = new THREE.MultiMaterial( [
					new THREE.MeshBasicMaterial( { color:  0x000000, overdraw: 0.5 } ),
					new THREE.MeshBasicMaterial( { color: 0xf2f2f2, overdraw: 0.5 } )
					] );

					buffer = new THREE.Mesh( new THREE.TextGeometry( theText, {font: font, size: .5, height:.5}), textMat );
					
					
					scene.add(buffer);

					var bufferPos = new THREE.Vector3();
					bufferPos.applyMatrix4( tiles[5][1].matrixWorld );
					buffer.position.set(bufferPos.x-.8,bufferPos.y-1,bufferPos.z-.4);



					edgeLetters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X'];
					var edgeGraph = [];
					
									
								//set array edge			
					edgeX = 0; edgeY=1; edgeInc = 0;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*-90,0,0); edgeGraph[edgeInc].position.y=3.3;  scene.add(edgeGraph[edgeInc]);
					edgeX = 0; edgeY=5; edgeInc = 1;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*-90,0,0); edgeGraph[edgeInc].position.y=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 0; edgeY=7; edgeInc = 2;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*-90,0,0); edgeGraph[edgeInc].position.y=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 0; edgeY=3; edgeInc = 3;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*-90,0,0); edgeGraph[edgeInc].position.y=3.3; scene.add(edgeGraph[edgeInc]);
					
					edgeX = 1; edgeY=1; edgeInc = 4;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*-90,0);  edgeGraph[edgeInc].position.x=-3.3;  scene.add(edgeGraph[edgeInc]);
					edgeX = 1; edgeY=5; edgeInc = 5;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*-90,0); edgeGraph[edgeInc].position.x=-3.3;  scene.add(edgeGraph[edgeInc]);
					edgeX = 1; edgeY=7; edgeInc = 6;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*-90,0); edgeGraph[edgeInc].position.x=-3.3;  scene.add(edgeGraph[edgeInc]);
					edgeX = 1; edgeY=3; edgeInc = 7;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*-90,0); edgeGraph[edgeInc].position.x=-3.3;  scene.add(edgeGraph[edgeInc]);
						
					edgeX = 2; edgeY=1; edgeInc = 8;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,0,degree); edgeGraph[edgeInc].position.z=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 2; edgeY=5; edgeInc = 9;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,0,degree); edgeGraph[edgeInc].position.z=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 2; edgeY=7; edgeInc = 10;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,0,degree); edgeGraph[edgeInc].position.z=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 2; edgeY=3; edgeInc = 11;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,0,degree); edgeGraph[edgeInc].position.z=3.3; scene.add(edgeGraph[edgeInc]);
								
					edgeX = 3; edgeY=1; edgeInc = 12;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*90,0); edgeGraph[edgeInc].position.x=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 3; edgeY=3; edgeInc = 13;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*90,0); edgeGraph[edgeInc].position.x=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 3; edgeY=7; edgeInc = 14;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*90,0); edgeGraph[edgeInc].position.x=3.3; scene.add(edgeGraph[edgeInc]);
					edgeX = 3; edgeY=5; edgeInc = 15;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree*90,0); edgeGraph[edgeInc].position.x=3.3; scene.add(edgeGraph[edgeInc]);
					
					edgeX = 4; edgeY=1; edgeInc = 16;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree *180,0); edgeGraph[edgeInc].position.z=-3.5; scene.add(edgeGraph[edgeInc]);
					edgeX = 4; edgeY=5; edgeInc = 17;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree *180,0); edgeGraph[edgeInc].position.z=-3.5;   scene.add(edgeGraph[edgeInc]);
					edgeX = 4; edgeY=7; edgeInc = 18;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree *180,0); edgeGraph[edgeInc].position.z=-3.5;  scene.add(edgeGraph[edgeInc]);
					edgeX = 4; edgeY=3; edgeInc = 19;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(0,degree *180,0); edgeGraph[edgeInc].position.z=-3.5;  scene.add(edgeGraph[edgeInc]);
					
					edgeX = 5; edgeY=1; edgeInc = 20;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*90,0,0); edgeGraph[edgeInc].position.y=-3.5; scene.add(edgeGraph[edgeInc]);
					edgeX = 5; edgeY=5; edgeInc = 21;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*90,0,0); edgeGraph[edgeInc].position.y=-3.5; scene.add(edgeGraph[edgeInc]);
					edgeX = 5; edgeY=7; edgeInc = 22;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*90,0,0); edgeGraph[edgeInc].position.y=-3.5;  scene.add(edgeGraph[edgeInc]);
					edgeX = 5; edgeY=3; edgeInc = 23;  edgeGraph[edgeInc] = new THREE.Mesh( new THREE.TextGeometry( edgeLetters[edgeInc], {font: font, size: .7, height:.1 }), edgeStyle );		var bufferPos = new THREE.Vector3(); bufferPos.applyMatrix4( tiles[edgeX][edgeY].matrixWorld ); edgeGraph[edgeInc].position.set(bufferPos.x,bufferPos.y,bufferPos.z); edgeGraph[edgeInc].rotation.set(degree*90,0,0); edgeGraph[edgeInc].position.y=-3.5;  scene.add(edgeGraph[edgeInc]);
						

							for (var x =0;x<=5;x++){
										tiles[x][0].position.y=999999;
										tiles[x][2].position.y=999999;
										// tiles[x][4].position.y=999999;
										tiles[x][6].position.y=999999;
										tiles[x][8].position.y=999999;
												
								}
								
					} );
				}
															
	});





		</script>

<script src='/js/matrixManip.js'></script>

	<script src="/js/myCubeB.js"></script>
	<script src="/js/myInitB.js"></script>
 	


	</body>
							
</html>